<!doctype html>
<html ng-app="main_module">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="/frontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/frontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- views go here -->
        <div ng-view>
            
        </div>
        <script src="/frontEnd/lib/jquery-2.1.4.min.js"></script>
        <script src="/frontEnd/lib/angular.min.js"></script>
        <script src="/frontEnd/lib/angular-route.min.js"></script>
        <script src="/frontEnd/lib/angular-resource.min.js"></script>
        <script src="/frontEnd/module/mainModule.js"></script>
        <script src="/frontEnd/controllers/loginController.js"></script>
        <script src="/frontEnd/factories/loginFactory.js"></script>
        <script src="/frontEnd/controllers/personController.js"></script>
        <script src="/frontEnd/factories/friendDataFactory.js"></script>
        <script src="/frontEnd/controllers/insertController.js"></script>
        <script src="/frontEnd/controllers/deleteController.js"></script>
    </body>









</html>