<div>
	<p>
		
	
		<table class="table">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Address</th>
		        <th>Age</th>
		      </tr>
		    </thead>
		    <tbody ng-repeat="person in persons">
		      <tr>
		        <td>{{person.name}}</td>
		        <td>{{person.address}}</td>
		        <td>{{person.age}}</td>
		      </tr>
		    </tbody>
		  </table>



	</p>
	<form>
		<input type="text" ng-model="person.name" placeholder="name">
		<input type="text" ng-model="person.address" placeholder="address">
		<input type="text" ng-model="person.age" placeholder="age">
		<input type="button" value="Add" ng-click="addPerson()">






	</form>
</div>